body {
  font-family: RionaSans-Medium;
  background-color: #435668;
  color: #0cec81;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.thin-border {
  background-color: #0cec81;
  border: 0.75px solid #1d3142;
}

.thick-border {
  background-color: #0cec81;
  border: 0.75px solid #1d3142;
}

h1 ul {
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

h2 {
  text-align: center;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
}

.icons {
  padding: 0;
  text-align: center;
}

.icons li {
  display: inline;
  border: 1px solid;
}

.icons li a {
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke-width: 0px;
}

.icons li a i {
  display: inline-block;
  width: 20px;
  text-shadow: none;
}

#facebook {
  border-color: #3c5b9b;
  background-color: #3c5b9b;
}

#instagram {
  border-color: #517fa4;
  background-color: #517fa4;
}

#twitter {
  border-color: #2daae1;
  background-color: #2daae1;
}

#soundcloud {
  border-color: #f75e0e;
  background-color: #f75e0e;
}

#email {
  border-color: #0b2f3d;
  background-color: #0b2f3d;
}

.stores {
  padding: 0;
  text-align: center;
}

.stores li {
  display: inline;
  margin-right: 10px;
}

.stores li a {
  text-decoration: none;
  -webkit-text-stroke-width: 0px;
}

.stores li a img {
  vertical-align: middle;
}
