body {
  /* v asked for whole page to look 90% smaller than present, there's a hack for that */
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  text-shadow: 
    -0.75px -0.75px 0 #1D3142,
    0.75px -0.75px 0 #1D3142,
    -0.75px 0.75px 0 #1D3142,
    0.75px 0.75px 0 #1D3142;
}

.main {
  width: 50%;
  margin: 10px auto;
}

.thin-border {
  margin: 0px 20px 0px 20px;
  min-width: 380px;
  height: 2px;
}

.thick-border {
  margin: 2px 20px 0px 20px;
  min-width: 380px;
  height: 7px;
}

h1 {
  padding: 2px 0 0 0;
  min-width: 380px;
  margin: 25px 0 10px 0;
}

h1 ul {
  margin: 10px auto 0 auto;
  padding: 0;
}

h1 ul li {
  font-size: 141px;
  line-height: 130px;
  letter-spacing: 10px;
}

h2 {
  font-size: 68px;
  margin: 20px auto;
  line-height: 1em;
  letter-spacing: 2px;
}

@media all and (max-width: 1300px) {
  h2, h1 ul li{
    font-size: 3.5em;
    line-height: 110px;
  }
}

@media all and (max-width: 1100px) {
  h2, h1 ul li{
    font-size: 3em;
    line-height: 100px;
  }
}

@media all and (max-width: 900px) {
  h2, h1 ul li{
    font-size: 2.5em;
    line-height: 90px;
  }
}

@media all and (max-width: 700px) {
  h2, h1 ul li{
    font-size: 2em;
    line-height: 80px;
  }
}

.icons {
  margin: 20px 0;
}

.icons li {
  margin:5px;
  border-radius: 12px;
}

#facebook {
  padding: 25px 11px 10px 15px;
}

#instagram {
  padding: 25px 16px 10px 10px;
}

#twitter {
  padding: 25px 15px 10px 11px;
}

#soundcloud {
  padding: 25px 18px 10px 8px;
}

#email {
  padding: 24px 23px 11px 8px;
  position: relative;
  top: -1px;
}

.stores {
  margin: 30px 0;
}

#google a img {
  height: 40px;
}

#trademark {
  font-size: 10px;
  width: 400px;
  margin-top: 50px;
}
