.main {
  margin: 30px auto;
}

.thin-border {
  height: 4px;
  margin: 0px 50px 0px 50px;
  border: 1px solid #1D3142;
}

.thick-border {
  height: 14px;
  margin: 5px 50px 0px 50px;
  border: 1px solid #1D3142;
}

h1 ul {
  margin: 50px;
}

h1 ul li {
  font-size: 200px; 
  line-height: 190px;
}

h2 {
  font-size: 90px;
  margin: 20px auto;
}

.icons {
  margin 50px 0;
}

.icons li {
  margin: 15px;
  border-radius: 30px;
}

.icons i {
  font-size: 80px;
}

#facebook {
  padding: 75px 55px 25px 39px;
}

#instagram {
  padding: 75px 73px 25px 21px;
}

#twitter {
  padding: 75px 71px 25px 23px;
}

#soundcloud {
  padding: 75px 76px 25px 18px;;
}

#email {
  padding: 75px 76px 25px 18px;
}

#email i {
  font-size: 70px;
  position: relative;
  top: -4px;
}

.stores {
  margin: 50px 0;
}

.stores img {
  height: 100px;
}

#trademark {
  font-size: 15px;
  width: 500px;
  margin-top: 90px;
}
