.main {
  margin: 30px auto;
}

.thin-border {
  height: 4px;
  margin: 0px 25px 0px 25px;
  border: 1px solid #1D3142;
}

.thick-border {
  height: 14px;
  margin: 5px 25px 0px 25px;
  border: 1px solid #1D3142;
}

h1 ul {
  margin: 50px;
}

h1 ul li {
  font-size: 200px; 
  line-height: 200px;
}

h2 {
  font-size: 100px;
  margin: 20px auto;
}
