body {
  font-family: RionaSans-Medium;
  background-color: #435668;
  color: #0CEC81;
  text-transform: uppercase;
  text-shadow: 
    -0.75px -0.75px 0 #1D3142,
    0.75px -0.75px 0 #1D3142,
    -0.75px 0.75px 0 #1D3142,
    0.75px 0.75px 0 #1D3142;
  /* v asked for whole page to look 90% smaller than present, there's a hack for that */
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  width: 50%;
  margin: 10px auto;
}

.thin-border {
  background-color: #0CEC81;
  height: 2px;
  border: 0.75px solid #1D3142; 
  margin: 0px 20px 0px 20px;
  min-width: 380px;
}

.thick-border {
  background-color: #0CEC81;
  height: 7px;
  border: 0.75px solid #1D3142;
  margin: 2px 20px 0px 20px;
  min-width: 380px;
}

h1 {
  padding: 2px 0 0 0;
  min-width: 380px;
  font-style: normal;
  font-weight: normal;
  margin: 25px 0 10px 0;
}

h1 ul {
  margin: 10px auto 0 auto;
  padding: 0;
  text-align: center;
}

h1 ul li {
  font-size: 141px;
  line-height: 130px;
  letter-spacing: 10px;
}

h2 {
  font-size: 68px;
  font-style: normal;
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
  line-height: 1em;
  letter-spacing: 2px;
  white-space: nowrap;
}

@media all and (max-width: 1300px) {
  h2, h1 ul li{
    font-size: 3.5em;
    line-height: 110px;
  }
}

@media all and (max-width: 1100px) {
  h2, h1 ul li{
    font-size: 3em;
    line-height: 100px;
  }
}

@media all and (max-width: 900px) {
  h2, h1 ul li{
    font-size: 2.5em;
    line-height: 90px;
  }
}

@media all and (max-width: 700px) {
  h2, h1 ul li{
    font-size: 2em;
    line-height: 80px;
  }
}

.icons {
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.icons li {
  display: inline;
  border: 1px solid;
  margin: 5px;
  border-radius: 12px;
}

.icons li a {
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke-width: 0px;
}

.icons li a i {
  display: inline-block;
  width: 20px;
  text-shadow: none;
}

#facebook {
  border-color: #3C5B9B;
  background-color: #3C5B9B;
  padding: 25px 11px 10px 15px;
}

#instagram {
  border-color: #517FA4;
  background-color: #517FA4;
  padding: 25px 16px 10px 10px;
}

#twitter {
  border-color: #2DAAE1;
  background-color: #2DAAE1;
  padding: 25px 15px 10px 11px;
}

#soundcloud {
  border-color: #F75E0E;
  background-color: #F75E0E;
  padding: 25px 18px 10px 8px;
}

#email {
  border-color: #0B2F3D;
  background-color: #0B2F3D;
  padding: 24px 23px 11px 8px;
  position: relative;
  top: -1px;
}

.stores {
  padding: 0;
  margin: 30px 0;
  text-align: center;
}

.stores li {
  display: inline;
  margin-right: 10px;
}

.stores li a {
  text-decoration: none;
  -webkit-text-stroke-width: 0px;
}

.stores li a img {
  vertical-align: middle;
}

#google a img {
  height: 40px;
}
