body {
  font-family: RionaSans-Medium;
  background-color: #435668;
  color: #00F76F;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1D3142;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  width: 50%;
  margin: 10px auto;
}

.thin-border {
  border-bottom: 2px solid #00F76F;
  margin: 20px 50px 2px 50px;
}

.thick-border {
  border-top: 7px solid #00F76F;
  margin: 2px 50px 0px 50px;
}

h1 {
  margin: 0 50px;
  padding: 0;
  border-top: 7px solid #00F76F;
  border-bottom: 2px solid #00F76F;
}

h1 ul {
  margin: 10px auto;
  padding: 0;
  text-align: center;
}

h1 ul li {
  font-size: 3em;
  line-height: .9em;
}

h2 {
  font-size: 3em;
  margin: 20px auto;
  text-align: center;
  line-height: 1em;
}

.icons {
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.icons li {
  display: inline;
  border: 1px solid;
  margin: 5px;
  border-radius: 12px;
}

.icons li a {
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke-width: 0px;
}

.icons li a i {
  display: inline-block;
  width: 20px;
}

#facebook {
  border-color: #3C5B9B;
  background-color: #3C5B9B;
  padding: 25px 11px 10px 15px;
}

#instagram {
  border-color: #517FA4;
  background-color: #517FA4;
  padding: 25px 15px 10px 11px;
}

#twitter {
  border-color: #2DAAE1;
  background-color: #2DAAE1;
  padding: 25px 15px 10px 11px;
}

#soundcloud {
  border-color: #F75E0E;
  background-color: #F75E0E;
  padding: 25px 16px 10px 10px;
}

#email {
  border-color: #0B2F3D;
  background-color: #0B2F3D;
  padding: 25px 18px 10px 13px;
}

.stores {
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.stores li {
  display: inline;
}

.stores li a {
  text-decoration: none;
  -webkit-text-stroke-width: 0px;
}

.stores li a img {
  vertical-align: middle;
}


